body{color: #FFFFFF;font-family: 'Raleway'; font-weight: light;background-color: #000000;}
a{color:#68979B;}
h1, h2{text-align: center;}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.left-fixed{
  width:35%;
  height: 100%;
  background-image: url('../../imgs/bg.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100%;
  position: fixed;
  text-shadow: 2px 2px 2px #555555;
  font-family: 'Quicksand';
}
.right{
  float: right;
  width: 65%;
  background-color: #F5F5F5;
}
.heading, .title{
  font-size:40px;
  font-weight: 600;
  margin-top: 10px;
  font-family: 'Dancing Script'
}
.sub-heading{
  font-size: 24px;
}
.main-image{
  width: 160px;
  position: relative;
  margin: 0 auto;
}
.main-image img{
  margin-top: 25px;
  width:160px;
  height: 160px;
  border-radius: 160px;
  border: 1px solid #FFFFFF;
}
.right{
  margin: 0 0 0 10px;
  color: #000000;
}
.recent-title{
  font-size: 28px;
  text-align: center;
  margin-top: 15px;
  font-family: 'Dancing Script'
}
.recent{
  position: relative;
  width: 240px;
  margin:0 auto;
}
.recent li{
  margin-top: 10px;
  list-style-type:circle;
}
.recent li a{
  color: #FFFFFF;
  text-decoration: none;
}
.recent li a:hover{
  color:#888888;
  text-decoration: underline;
}

/* Social Icons */
.social-icons{
  width:255px;
  margin: 0 auto;
}
.social-icons .fa{
  margin:10px;
}
.social-icons a{color: #FFFFFF;}
.social-icons a:hover{
  color:#888888;
}

/* Featured Posts */
.featured-posts .date{
  float: right;
  margin-top: 15px;
  color: #1D433B;
}
.featured-posts .subtitle{
  font-size: 24px;
  font-style: italic;
  font-weight: 400;
  margin: 15px 0;
}
.featured-posts .post{
  margin: 20px 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid #000000;
}
.featured-posts img{display: none;}
.featured-posts .summary{
  margin:10px 0 0 0;
  text-align: justify;
  line-height: 20px;
}
.featured-posts .summary p{margin-bottom: 15px;}
.featured-posts .read-more{
  color: #1D433B;
  text-decoration: none;
}
.footer p{text-align: center;margin-bottom: 20px;}
code{font-family: monospace;}