body, html{min-height:100%;background-color: #999999;}
*{margin:0;}
h1{
  padding-bottom:10px;
  font-size: 32px;
  font-weight:bold;
}
h2{
  font-size: 24px;
  font-style: italic;
  margin-bottom: 15px
}
h3{
  font-size: 20px;
  font-weight:bold;
}
h4{
  float:right;
  margin-top:10px;
}
p{margin:20px 0;}

section{
  line-height: 24px;
  text-align: justify;
}

.container{
  width:960px;
  margin:0 auto;
  border-left:4px solid #000000;
  border-right:4px solid #000000;
  padding:0 20px;
  background-color: #FFFFFF;
  position: relative;
}
.content{
  padding-top: 110px;
}
main{
  margin:0 auto;
  min-height: 100%;
}
.logo img{
  width:200px;
  height:100px;
  position: relative;
  margin: 0 auto;
}
.gregorc{
  float: right;
}
footer{
  width: 100%;
  background-color: orange;
  height:50px;
  position: relative;

}

.learning-styles li{margin-bottom: 15px;}
code.text{
  font-family: monospace;
  padding: 2px 5px;
  background-color: #333333;
  color:orange;
}

pre{
  word-wrap: break-word;
  background-color: #eeeeee;
  margin-bottom: 10px;
  font-size: 1.2em;
  font-family: monospace;
  padding:15px 0 0 0;
}
img{
  width:100%;
  float: left;
  margin: 25px 0;
}
.value{
  width: 500px;
  float: right;
  margin:0 25px 0;
}
.values{
  text-align: center;
  margin-bottom: 20px;
  color: orange;
}
.values li{
  display: inline-block;
  font-size: 20px;
  margin: 0 10px;
}