body{color: #FFFFFF;font-family: 'Raleway'; font-weight: 300;}
a{color:#68979B;text-decoration: none;}
h1, h2{text-align: center;}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
code{font-family: monospace;}
.about{
  background-image: url('imgs/large-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  position: relative;
  text-shadow: 2px 2px 2px #000000;
  font-family: 'Quicksand';
  font-weight: 400;
  width:100%;
  box-shadow: 0 1px 30px #000000;
}
.nav{
  float: right;
  margin-top:20px;
  font-size: 25px;
}
.nav li{
  display: inline-block;
  text-align: left;
  margin-right: 30px;
}
.nav li a{
  color: #FFFFFF;
  text-decoration: none;
}
.nav li a:hover{color: #68979B;}
.logo{
  text-align: center;
  width: 385px;
  margin-left:20px;
}
.heading{
  font-size: 70px;
  font-family: "Dancing Script";
}
.sub-heading{
  font-size: 24px;
}
.about-me p{background-color: rgba(0,0,0,0.3);border-radius: 10px;}

.main-image{
  width: 160px;
  position: relative;
  margin: 0 auto;
}
.main-image img{
  margin-top: 25px;
  width:160px;
  height: 160px;
  border-radius: 160px;
  border: 1px solid #FFFFFF;
}
.about-me{
  width:50%;
  margin: 0 auto;
  padding: 40px;
  font-size: 20px;
  padding: 10px;
  border-radius: 20px
}
.recent-title{
  font-size: 38px;
  text-align: center;
  margin-top: 15px;
  font-family: 'Dancing Script'
}
.recent{
  position: relative;
  width: 240px;
  margin:0 auto;
}
.recent li{
  margin-top: 10px;
  list-style-type:circle;
}
.recent li a{
  color: #FFFFFF;
  text-decoration: none;
}
.recent li a:hover{
  color:#888888;
  text-decoration: underline;
}

/* Social Icons */
.social-icons{
  width:255px;
  margin: 0 auto;
}
.social-icons .fa{
  margin:10px;
}
.social-icons a{color: #FFFFFF;}
.social-icons a:hover{
  color:#888888;
}
.skills .heading, .blog .heading, .blog h3,.portfolio .heading{
  text-align: center;
  padding-top: 20px;
  color: #000000;
  text-shadow: 3px 2px 2px #FFFFFF;
}
.skills{
  min-height: 450px;
  background-color: #CCCCCC;
  box-shadow: 1px 8px 25px #DDDDDD;
}
.skills ul{
  margin: 0 auto;
  width:81%;
  padding: 50px 0;
}
.skills ul li{display: inline-block;}
.skills li img{
  width:225px;
}
.blog{
  color:#000000;
  padding-bottom: 20px;
  /*box-shadow: 1px 8px 25px #888888;
  position: relative;*/
}
.blog ul{width: 90%;margin: 0 auto;}
.blog img{display: none;}
.blog p{padding-bottom: 20px;}
.blog .read a{
  font-size: 28px;
  color:#000000;
  text-shadow: 1px 1px 2px #666666;
}
.blog .read a:hover{color:#FFFFFF;}
.blog .post{
  width: 30%;
  display: inline-block;
  line-height: 22px;
  margin: 15px;
  text-align: justify !important;
}
.blog .post .title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.portfolio{
  min-height: 450px;
  background-color: #CCCCCC;
}
.footer{
  border-top: 1px dashed rgba(0,0,0,0.2);

}
.footer p{
  text-align: center;
   padding: 20px 0;
  color: #000000;
}
